body {
	background: #3C7670;
	color:#FFF;
	font-size:28px;
	font-family: 'Montserrat', sans-serif;
}

dl {
	dt { float:left; clear:left; }
	dd { -webkit-margin-start: 10px; }
}

details {
	margin: 1em 0;
}

details, summary {
	cursor: pointer;
}

button {
	display: block;
	margin: 1em auto;
	background: #1BBE9E;
	border: 1px solid #1BBE9E;
	color: #FFF;
	text-transform: uppercase;
	padding: .7em 2em;

	&[disabled] {
		background: #CCC;
		text-decoration:line-through;
	}
}

a { color: #6ABE92; }

.container { margin:1em;}
.hidden { display:none !important; }
.ok { color:green; }

#logo {
	margin:3em auto;
	width: 200px;
	span {
		background: #F86100;
		margin: 0 .3em;
		padding: .2em .4em;
		border-radius: 5px;
	}
}

#tumblr_site {

	&.disabled {
		dl { background: #3C7670; }
	}
	dl {
		margin:0 auto;
		color: #FFF;
		font-weight: normal;
		background: #569389;
		width: 700px;
		padding:.5em;
		border:10px solid #34887C;
		dt {
			margin-left:1em;
			margin-right:.5em;
			margin-top:0.3em;
		}
		dd input {
			background: #569389;
			border: 1px solid #569389;
			border-bottom: 1px solid #FFF;
			&[disabled] {
					border-bottom: 1px solid #569389;
					text-align:center;
					background: #3C7670;
					border: none;
			}
		}
	}
}

#tumblr_videos_found {

	details {
		margin:3em auto;
		width: 900px;
		word-wrap: break-word;
		border-bottom:1px dotted #FFF;
		summary {
			margin-left: 240px;
			padding-bottom: .3em;
		}
		& > div {
			& {
				/* Flex-Box */
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				align-items: stretch;
				align-content: flex-start;

				height: 350px;
				width: 100%;
				overflow-x: hidden;
				overflow-y: scroll;
				border: 1px solid #ccc;
			}
			ol {
				li {
					display:inline-block;
					margin:10px;
					width: 250px;
					p { font-size: 17px; }
				}
			}
		}
	}
}


#tumblr_videos {
	& {
		float:left;
		clear:both;
	}
	li {
		& { margin:1em; }
		& > p { text-transform: capitalize; }
		a { margin:1em; }
	}
}



#migration_progress {
	& {
		margin:3em auto;
		width: 900px;
		clear:both;
	}
	& > div {
		background-image: '006749-3d-transparent-glass-icon-arrows-arrow11-right.png';
		text-align: center;
		margin:3em 0;
		& > * {
			display: inline-block;
		}
		& > img {
			margin: 0 2em;
		}
	}

	svg {
		position: absolute;
		width: 463px;
		left: 400px;
		bottom: -284px;
	}

	#adding_videos {
		text-align: center;
	}
	#percentage {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		color: #fff;

		text-align: center;
		border: 10px solid #34887C;
		p {
			margin:2.5em 0;
			strong {
				font-size: 2.5em;
			}
			span {
				font-size: .7em;
				display: block;
				margin: .5em;
			}
		}
	}
}


#process_completed {
	text-align: center;
	margin-top:6em;
}